body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    backgroung-color:antiquewhite;
}
h1{
    color:aqua;
    background-color: aquamarine;
}
p1{
    font-size: 30px;
    font-weight: 100;
}
a{
    display: block;
}